	<div class="chat-container">
    <ul class="messages" #container>
        <li *ngFor="let msg of conversation">
        	<div *ngIf="!isNewUserAlert(msg)">
              <span class="user-label" >{{msg.userName}}:</span>
              <span>{{msg.text}}</span>
            </div>
        	<div *ngIf="isNewUserAlert(msg)">
        		<em>{{msg.text}}</em>
          </div>
        </li>
      </ul>
    <input id="message" type="text"  
    	[(ngModel)]="message" 
    	(keypress)="keypressHandler($event)">
		<button (click)="send()"  type="submit" 
			class="btn"  name="action" >Send</button>
  </div>
  <user-list></user-list>