<div class="board" [ngClass]="{waiting: waiting}">
	<div *ngFor="let row of board; let y = index" class="row">
		<div *ngFor="let box of row; let x = index" 
			class="cell" [class.filled]="box !=''"
			(click)="placeMark(x,y)">
			{{box}}
		</div>
	</div>
</div>

<div class="stats">
	<p *ngIf="waiting">Waiting for other player...</p>
	<p *ngIf="!waiting && inProgress">It's your move...<p>
	<p *ngIf="boardFull()">Game Over!</p>
	<button *ngIf="!inProgress" (click)="emitReset()">Reset Game</button>
</div>