.board {
	float: left;
	text-align: center;
	margin-right: 50px;
}

.row { clear: both;}

.cell {
	float: left;
	border: 1px solid;
	width: 100px;
	height: 100px;
	font-size: 50px;
	line-height: 100px;
	cursor: pointer;
}

.waiting .cell, .cell.filled { cursor: not-allowed !important;}

.stats p { margin-bottom: 10px; }